* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: brown;
  transition: 0.6s;
}
/* Scroll  */
.up.show {
  right: 10px;
}
.up {
  position: fixed;
  bottom: 50px;
  right: -60px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  /* width: 25px; */
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 2.3px;
  transition: 0.5s;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  color: white;
  background-color: brown;
  width: 120px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  position: relative;
  border-radius: 1px;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: inherit;
  transition: 0.5s;
}
.btn::before {
  content: "";
  bottom: -6px;
  right: 0;
}
.btn::after {
  content: "";
  top: -6px;
  left: 0;
}
.btn:hover::before,
.btn:hover::after {
  width: 100%;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*                        Header                        */

header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #333;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 95px;
}
header .container .logo .pic {
  border: 1px solid #00000029;
  padding: 5px 20px;
  font-size: 30px;
  transition: 0.5s;
}
header .container .logo:hover .pic {
  border: 1px solid black;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .upper {
  display: flex;
}
@media (max-width: 768px) {
  header nav .upper {
    display: none;
  }
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  header nav .toggle-menu {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 100%;
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
  }
  header nav .toggle-menu:hover + ul li a:hover {
    padding: 15px !important;
  }
}
header nav .upper li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 99;
}
header nav .upper li a.active,
header nav .upper li a:hover {
  border-bottom: 1px solid brown;
  transform: scale(0.9);
  color: brown;
}

/*                        Section                        */

section {
  padding-top: 200px;
}
section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.difranes .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.difranes .ul2 li {
  list-style: none;
}

section .container .logo .pic1 {
  padding: 100px 160px;
  border: 2px solid rgb(105, 27, 27);
  font-size: 100px;
}

@media (max-width: 992px) {
  section .container .logo .pic1 {
    padding: 50px 100px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

section .container .logo:hover .pic1 {
  border: 2px solid brown;
  transition: 0.3s;
}
section .container ul {
  margin: 10px 50px;
}
section .container ul li {
  margin-bottom: 40px;
  list-style: decimal;
  cursor: pointer;
}

@media (max-width: 992px) {
  section .container ul li {
    margin-left: 60px;
    width: 400px;
  }
}

@media (max-width: 768px) {
  section .container ul li {
    width: 330px;
    margin-top: 30px;
  }
}

section .container ul li:hover {
  color: brown;
  transition: 0.3s;
}

/*                        Services                        */

.services {
  padding-top: 180px;
}
.services .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .serv {
  font-weight: bold;
  font-size: 50px;
  position: relative;
  animation-name: loading-way;
}

.services .container .serv:hover {
  color: brown;
  cursor: pointer;
  transition: 0.5s;
}

.services .container .serv::before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: brown;
  position: absolute;
  left: 50%;
  bottom: -24px;
  margin-left: -50px;
  animation-name: loading-way;
}
.services .container .serv::after {
  content: "";
  position: absolute;
  left: calc(50% - 50px);
  height: 6px;
  width: 5px;
  background-color: #eaeaea;
  bottom: -24px;
  animation-name: loading-way;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}
@keyframes loading-way {
  to {
    left: calc(50% - -50px);
  }
}

/*                        Log In                        */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 150px;
}

.main .box {
  position: absolute;
  margin-top: 40px;
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.644);
  box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
  border-radius: 6px;
  border-bottom-right-radius: 90px;
}

@media (max-width: 767px) {
  .main .box {
    width: 350px;
  }
}
.box img {
  width: 100px;
  margin: 0 105px 0px;
  position: absolute;
  border-radius: 50%;
  top: -50px;
  border: 2px solid white;
}
.box h2 {
  margin: 0 0 30px;
  padding: 0%;
  color: #fff;
  text-align: center;
}
.box .inputBox {
  position: relative;
}
.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid white;
  border-color: deepskyblue;
  outline: none;
  background: transparent;
  transition: 0.5s;
}
.box .inputBox label {
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.box .inputBox input:focus + label,
.box .inputBox input:valid + label {
  top: -25px;
  left: 0%;
  color: deepskyblue;
}
.box .sign {
  border: none;
  border-radius: 10px;
  background-color: red;
}
.box input[type="submit"] {
  background-color: transparent;
  color: #fff;
  background: #03a9f4;
  border: none;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}
.box input[type="submit"]:hover {
  background: #005e8a;
}
.box a {
  position: absolute;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  right: 35px;
}
.box a:hover {
  background: #353535;
  color: #bdbdbd;
  border: none;
}

/*                          Footer                         */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
  letter-spacing: 2px;
  margin-top: 150px;
  height: 50px;
  width: 100%;
  position: relative;
  bottom: -259px;
}

/* @media (max-width: 767px) {
    footer {
    width: 102%;
    }
  } */
